<!doctype html>
<html lang="en" ng-app="WoDSpreadsheet">
<head>
    <title>WoD Spreadsheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<style type="text/css">
    #wowuction {
        border-top: 1px solid black;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="row" ng-controller="RealmController">
            <div class="col-md-2">
                <label for="region">Region: </label>
                <select class="form-control" ng-model="$storage.region"><option val="eu" selected="selected">EU</option><option val="us">US</option></select>    
            </div>
            <div class="col-md-4">
                <label for="realm">Realm: </label>  
                <input type="text" class="form-control" ng-model="$storage.realm" auto-complete ui-items="realms"/>
            </div>
        </div>
        <div ng-controller="shuffleController">
            <div class="row">
                <div class="col-md-12">
                    <h3>AH Prices</h3>
                    <table class="table-condensed table-bordered" id="ah_values">
                        <theader>
                            <td>Item</td><td>Market Price</td><td>Min Price</td>
                        </theader>
                        <tr ng-repeat="item in $storage.ahLookUp">
                            <td>{{ item.name }}</td><td>{{ (item.marketPrice*1).toFixed(4) }}</td><td>{{ (item.minPrice*1).toFixed(4) }}</td>
                        </tr>
                        <tr>
                            <td>Add Item: <em class="small">(Use item id)</em> </td>
                            <td colspan="2"><form class="form" ng-submit="addItem()">
                                <input type="text" ng-model='newItem' />
                                <input type="submit" class="btn btn-primary" value="Add"/></form></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Savage Blood Shuffle</h3>
                    <table class="table-condensed table-bordered">
                        <tbody id="materials">
                        <theader>
                            <td>
                                Name
                            </td>
                            <td>
                                Primal Spirit Cost
                            </td>
                            <td>
                                Savage Blood Cost
                            </td>
                            <td>
                                Profit
                            </td>
                        </theader>    
                        </tbody>
                        <tr ng-repeat="item in $storage.bloodShuffle">
                            <td>{{ item.name }}</td>
                            <td>{{ (item.primal *1).toFixed(4) }}</td>
                            <td>{{ (item.savage *1).toFixed(4) }}</td>
                            <td>{{ (item.profit *1).toFixed(4) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                <h3>Enchanting</h3>
                <table class="table-condensed table-bordered">
                    <tbody id="materials">
                    <theader>
                        <td>
                            Name
                        </td>
                        <td>
                            Material Costs
                        </td>
                        <td>
                            Mkt Price
                        </td>
                        <td>
                            Profit
                        </td>
                    </theader>    
                    </tbody>
                </table>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="cold-md-12">
                        <h4>Import WoWuction data</h4> 
                        <h5><small>(use the static link to your WowUction export)</small></h5>
                    </div>
                    <div class="cold-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-inline" ng-submit="postUrl()">
                                    <label for="url">Url:&nbsp;</label>  
                                    <input type="text" class="form-control" ng-model="$storage.data.url" />
                                    <input type="submit" class="btn btn-primary" value="Update"/>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ngStorage.min.js"></script>
    <script src="/js/app.js"></script>
    <!--script src="/js/wowuction.js"></script-->
  </body>
</html>
